/* Css Style */
@import url('https://fonts.cdnfonts.com/css/digital-dismay'); /* Time font */

body {
    text-align: center;
    /* background-color: aliceblue; */
    background: url("background2.png");
    padding: 0;
    scroll-behavior: smooth;
    font-family: monospace;
}

.game-title img {float: left;}

.minesweeper {
    position: relative;
    border: 3px solid;
    border-radius: 5px;
    padding: 0;
    aspect-ratio: 1 / 1;
}

.minesweeper td {
    width: 69px;
    height: 69px;
    text-align: center;
    background-color: rgb(189, 189, 189);
    font-family: monospace;
    font-weight: bold;
    background-size: 60px 60px;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0 10px 0 10px;
    border-top: 3px solid rgb(254,254,254);
    border-left: 3px solid rgb(254,254,254);
    border-bottom: 4px solid rgb(104,104,104);
    border-right: 4px solid rgb(104,104,104);
    border-collapse: collapse;
    transition: height 0.5s, width 0.5s;
    aspect-ratio: 1 / 1;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main .head {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: -15px;
    z-index: 10;
    padding: 0;
}

main .head .leftFlag {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.profile {
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: center;
}

.dropdown {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: start;
    width: fit-content;
    text-align: left;
    font-size: large;
    border: 1px solid lightgrey;
    border-radius: 5px;
    padding: 5px;
    background: rgb(231, 231, 231);
    margin-top: 5px;
    visibility: hidden;
    transform: scale(0);
    transform-origin: 100% 0;
    transition: transform 0.2s;
}

.dropdown-show {
    visibility: visible;
    transform: scale(1);
}

.dropdown a {
    text-decoration: none;
}

.dropdown a:hover {
    background: lightgrey;
    background-size: cover;
}

.dropdown #stats {
    color: black;
}

.dropdown hr {
    border: 0;
    clear: both;
    display: block;
    width: 97%;               
    background-color: black;
    height: 1px;
    border-radius: 10%;
}

.diffculty {
    width: 100px;
    height: 25px;
    border-top: 3px solid rgb(254,254,254);
    border-left: 3px solid rgb(254,254,254);
    border-bottom: 4px solid rgb(104,104,104);
    border-right: 4px solid rgb(104,104,104);
    background-color: rgb(189,189,189);
    text-align: center;
    font-weight: bold;
    cursor: pointer;
    position: relative;
    top: 30vh;
    right: 42vw;
    align-items: center;
    z-index: 10;
}

#sizeSelection:hover,#sizeSelection:focus {background-color: #746d6d;}

a:visited {
    color: blue;
    text-decoration: underline;
}

#bigtitle {
    font-size: 35px;
    float: left;
    margin-top: 10px;
    position: sticky;
}

#register {
    float: right;
    font-family: monospace;
}

.time {
    font-family: "Digital Dismay", sans-serif;
    color: red;
    float: right;
    font-size: 25px;
    vertical-align: middle;
    line-height: 80px;
}

.remain-flag {font-size: 20px;}

.user_content a {
    color: black;
    padding: 5px 10px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.user_content a:hover {background-color: #ddd;}

.show {display: block;}

#close_win_msg {
    background-color: rgba(175, 175, 175, 0.8);
    border-radius: 3px;
    cursor: pointer;
    float: right;
    margin: 4px 6px 2px 0;
    border-top: 2px solid rgb(254,254,254);
    border-left: 2px solid rgb(254,254,254);
    border-bottom: 2px solid rgb(104,104,104);
    border-right: 2px solid rgb(104,104,104);
}

.win_msg {
    width: 300px;
    border-radius: 20px;
    top: 0;
    left: 50%;
    border: 3px solid black;
    transform: translate(0,-100%) scale(0.1);
    transition: transform 0.5s, top 0.5s;
    visibility: hidden;
    position: absolute;
    background-color: rgba(238, 232, 232, 0.8);
}

.openPopup {
    z-index: 10;
    visibility: visible;
    top: 50%;
    transform: translate(-50%,-50%) scale(1);
}

.background_blur {
    filter: blur(5px);
}

.winHead span {
    color: #fff;
    font-weight: bold;
    text-align: center;
    font-size: large;
}

.winHead {
    height: 30px;
    border-top-right-radius: 16px;
    border-top-left-radius: 16px;
    background-color: rgb(109,172,238);
}

.new_game_btn {
    width: 250px;
    height: 30px;
    background-color: rgba(175, 175, 175, 0.7);
    border-top: 3px solid rgb(254,254,254);
    border-left: 3px solid rgb(254,254,254);
    border-bottom: 4px solid rgb(104,104,104);
    border-right: 4px solid rgb(104,104,104);
    cursor: pointer;
    border-radius: 5px;
    font-size: medium;
    font-weight: 600;
    margin: 10px 0 20px 0;
}

.new_game_btn:hover {opacity: 0.5;}

.win_msg p {
    color: rgba(45, 45, 45, 1);
    font-weight: 500;
}

.win_stats {
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
}

.win_stats span {
    color: rgba(24, 24, 24, 1);
    font-size: 35px;
    font-weight: bolder;
}

@media only screen and (max-width: 700px) {
    #gameHead td {
        font-size: medium;
    }

    .minesweeper td {
        width: 35px;
        height: 35px;
        font-size: 25px;
        background-size: 30px 30px;
        background-repeat: no-repeat;
        background-position: center;
        font-weight: bold;
    }
}